<div class="form">
  <mat-card>
    <div class="toolbar"><mat-toolbar><span>Novo Curso</span></mat-toolbar></div>

    <mat-card-content>

      <form [formGroup]="form">

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <input class="full-width" matInput formControlName="name" placeholder="Nome" >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width"appearance="outline">
            <input matInput formControlName="category" placeholder="Categoria" >
          </mat-form-field>
        </div>

        <div>
          <mat-card-actions>
            <div><button mat-raised-button color="primary" (click)="onSubmit"><mat-icon>add</mat-icon>Salvar</button></div>
            <div><button mat-button (click)="onCancel"><mat-icon>cancel</mat-icon>Cancelar</button></div>
          </mat-card-actions>
        </div>


      </form>

    </mat-card-content>

  </mat-card>
</div>
