mat-card {
  max-width: 80%;
  margin: 0em auto;
}

.toolbar {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100;
  min-width: 150;
}

mat-card-actions {
  padding: 0;
}

button {
  height: 50px;
  margin-right: 20px;
}
